################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TokenAuthWebApiCore.Server/bin/Debug
/TokenAuthWebApiCore.Server/obj
/TokenAuthWebApiCore.Server.IntegrationTest/bin/Debug
/TokenAuthWebApiCore.Server.IntegrationTest/obj
/.vs
